# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.agents
skills-lock.json

# Environment files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tree Structure Project
structure.txt
.\Backend\wms-server.exe
/.vs
/Backend-Net/.vs
/Backend-Net/Application/bin/Debug/net10.0
/Backend-Net/Application/obj/Debug/net10.0
/Backend-Net/Application/obj/Release/net10.0
/Backend-Net/Application/obj
/Backend-Net/Common/bin/Debug/net10.0
/Backend-Net/Common/obj/Debug/net10.0
/Backend-Net/Common/obj/Release/net10.0
/Backend-Net/Common/obj
/Backend-Net/Domain/bin/Debug/net10.0
/Backend-Net/Domain/obj
/Backend-Net/Infrastructure/bin/Debug/net10.0
/Backend-Net/Infrastructure/obj
/Backend-Net/Tests/WMS.Tests/bin/Debug/net10.0
/Backend-Net/Tests/WMS.Tests/obj
/Backend-Net/WMS/bin/Debug/net10.0
/Backend-Net/WMS/obj/Debug/net10.0
/Backend-Net/WMS/obj
/Backend-Net/Tests/WMS.Tests/bin/Release/net10.0
/.memsearch/.index-state.json
